.primary-btn {
  align-items: center;
  border: 1px solid var(--btn-border);
  padding: 20px 25px;
  border-radius: 12px;
  cursor: pointer;
  background: var(--btn-bg);
  color: var(--color-primary);
  font-size: 20px;
  text-align: center;
  filter: drop-shadow(0 1px 1px rgb(0 0 0 / 0.05));
  transition: background-color 0.3s ease, border-color 0.3s ease;
  margin-bottom: 80px;
}

.primary-btn:hover {
  background-color: #e3e3e322;
}

.primary-btn:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}
