.progress {
  display: flex;
  flex-direction: column;
}

.progress-bar-wrapper {
  position: relative;
  height: 2px;
  width: 100%;
  background-color: var(--progress-outer-color);
  margin-bottom: 20px;
  transition: background-color 0.3s ease;
}

.progress-bar {
  position: absolute;
  left: 0;
  top: 0;
  height: 2px;
  background-color: var(--progress-inner-color);
  transition: width 0.2s ease, background-color 0.3s ease;
}

.progress-value {
  font-size: 18px;
}
